<!DOCTYPE html>
<html id="top" lang="en" ng-app="LightsApp">

<head>
    <!-- Title and image seen on browser bar -->
    <title>Smart City Lighting</title>
    <link rel="icon" 
        type="image/png" href="https://s3.amazonaws.com/blenderguru.com/uploads/2017/01/reference.jpg">

    <!-- Bootstrap stylesheet" -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
        
    <!-- Custom stylesheet -->
    <link href="css/app.css" rel="stylesheet"> 
        
    <!-- Font -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Button styling specific to pages -->
    <style>
        #list-selector { background-color: black; }
        #list-selector a { color: white; }
    </style>
        
</head>

<body ng-controller="MainController">
            
    <!-- Website header -->
    <header class="jumbotron" id="overview">
        <div class="container">
            <div class="col-sm-7">
                <h1></h1>
                <p></p>
            </div>
        </div>
    </header>

    <div class="container" id="middle_container">
        <section id="modules">
                    
            <!-- Buttons to toggle website view -->
            <div class="btn-group btn-group-lg" role="group" aria-label="..." id="view-buttons">
                <button type="button" class="btn btn-default" id="list-selector">
                    <a href="ListView.html">List View</a>
                </button>
                
                <button type="button" class="btn btn-default" id="map-selector">
                    <a href="MapView.html">Map View</a>
                </button>
            </div>
                    
            <!-- Search bar (ANKIT TO COMPLETE THIS) -->
            <p class="text-muted" id="search-bar">
                <input class="form-control" autofocus="autofocus" style="max-width: 15em; display: block;" ng-model="searchText" placeholder="Search...">
                
                {{(lamps| filter:searchText).length}} lights found
            </p>

                    
            <!-- Loop through lamps -->
            <div class="panel-group" id="accordion">
                <div ng-repeat="(key, lamp) in lamps" class="panel panel-default">
                            
                    <!-- Heading data -->
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#{{key}}' ng-click="tabSwitch = !tabSwitch">
                            <h4 class="panel-title">
                                <p>LAMP {{key}}</p>
                                
                                <div class="row" id="lamp-subheadings">
                                    <div class="col-md-4">
                                        <h5>Address: <span>{{lamp[0].address}} </span></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Owner: <span>{{lamp[0].owner}}</span></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Operational: <span>{{lamp[0].operational}}</span></h5>
                                    </div>
                                    
                                </div>
                            </h4>
                        </a>
                    </div>

                    <!-- Body data -->
                    <div id={{key}} class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <div class="row" id="panel-b">
                                <div class="col-md-4">
                                    <h5><strong>Operational History ({{lamp.length}})</strong></h5>
                                    <table class="table table-condensed">
                                        <thead class="table-head-scroll">
                                            <tr>
                                                <th>Operational?</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        
                                        <!-- Loop through maintenance requests -->
                                        <tbody class="table-body-scroll">
                                            <tr class="{{request.status}}" ng-repeat="entry in lamp">
                                                <td>{{entry.operational}}</td>
                                                <td>{{entry.date_time | date:"shortDate"}}</td>
                                                <td>{{entry.date_time | date:"shortTime"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <div class="row" id="weather">
                                        <h5><strong>Weather Data</strong></h5>
                                        <p>Temperature: {{lamp[0].temperature}}&#8457;</p>
                                        <p>Humidity: {{lamp[0].humidity}}%</p>
                                    </div>
                                    <div class="row" id="proximity">
                                        <h5>
                                        <strong>Proximity Data</strong>
                                        </h5>
                                        <p>Ambient Light: {{lamp[0].light}} Lux</p>
                                        <p>Motion Status: {{lamp[0].motion_detected}}</p>
                                        <p>Motion Count: {{lamp[0].motion_count}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <button ng-click="chartType = 'Temperature'">Temperature</button>
                                        <button ng-click="chartType = 'Humidity'">Humidity</button>
                                        <button ng-click="chartType = 'Motion Count'">Motion Count</button>
                                    </div>
                                    <div id="chart">
                                        <h3>{{ chartType }}</h3>
                                        <div linear-chart chart-data=lamp></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>        
            </div>         
        </section>   
    </div>
        
    <div class="footer">
        <div class="container">
            <p>© Smart City Lighting System. All rights reserved.</p>    
        </div>
    </div>
    
    <!-- Google Maps -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS__8qtf8Q78tlTHgHVDBzatwjifrf1vQ
&callback=initMap">
    </script>
    
        
    <!-- External libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>    
    
    <!-- Main js file -->
    <script type="text/javascript" src="js/app.js"></script>
    
</body>

</html>
